/* @import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700'; */

$primaryColor:rgba(240,138,93,.1);

body{
  background: #FAFAFA;
}
.app-nav{
  background: $primaryColor;
}
.app-container{
  .c-card {
    img {    
      transition: transform .3s ease-in-out; 
    }
    
    &:hover {
      img {
        transform: scale(1.05)
      }
    }
  }
}
.footer{
  background: $primaryColor;
  section{
    background: $primaryColor;
  }
}