/* @import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700'; */

body{
  background: #FAFAFA;
}
.app-container{

  .c-card {
    img {    
      transition: transform .3s ease-in-out; 
    }
    
    &:hover {
      img {
        transform: scale(1.05)
      }
    }
  }
  
}